<div class="page-header">
	<h1>View Poll</h1>
</div>
<div class="well well-lg">
	<strong>Question</strong><br>{{polls.question}}
</div>

<div ng-hide="poll.userVoted">
	<p class="lead">Please select one of the following options:</p>

	<form role="form" action="/cast/vote" method="POST">
		<div class="form-group">
                    <label for="pollIp">Server Key</label>
                    <input type="text" ng-model="poll.ip" class="form-control" name="pollIp" id="pollIp" placeholder="Enter Server Key">
                </div>
                <div class="form-group">
                    <label for="pollUser">User Key</label>
                    <input type="text" ng-model="poll.user" class="form-control" name="pollUser" id="pollUser" placeholder="Enter User Key">
                </div>
                <div class="form-group">
                    <label for="pollTopic">Topic</label>
                    <input type="text" ng-model="poll.question" class="form-control" name="question" id="pollTopic" placeholder="Enter Poll Topic">
                </div>
                <div class="form-group">
                    <label for="pollVote">Vote Value</label>
                    <input type="text" ng-model="poll.votes" class="form-control" name="pollVotes" id="pollVotes" placeholder="Enter vote value">
                </div>
		<div class="form-group">
                    <input type="hidden" ng-model="poll.id" class="form-control" name="poll_id" id="pollVotes" value="{{polls._id}}">
                </div>
		<div class="row">
			<div class="col-xs-6" style="visibility: hidden;">
				<a href="#/polls" class="btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Back to Poll List</a>
			</div>
			<div class="col-xs-6">
				<button class="btn btn-primary pull-right" type="submit">Vote &raquo;</button>
			</div>
		</div>
	</form>
</div>