﻿
<head>
    <title></title>
</head>
<body>
<form method="post" action="image/upload" enctype="multipart/form-data">
<table>
<tr>
<td>Title</td>
 <td>   <input id="Name" name="Name" type="text" /></td>
</tr>
<tr><td>File :</td><td><input id="fu_File" name="fu_File" type="file" /></td>
</tr> 
<tr>
<td>date :</td>
<td>
    <input id="Date" type="text" name="Date" /></td>
</tr>
<tr>
	<td>Category</td>
	<td><input id="Category" type="text" name="Category" /></td>
<tr>
<td colspan="2">
    <input id="btnSubmit" type="Submit" value="submit" /></td>
</tr>

</table>
</form>
</body>

