<div class="page-header">
	<h1>Poll List</h1>
</div>
<div class="row">
	<div class="col-xs-5">
		<a class="btn btn-default" href="#/new"><span class="glyphicon glyphicon-plus"></span> Add Poll</a>
	</div>
	<div class="col-xs-7">
		<input type="text" class="form-control" ng-model="query" placeholder="Search by typing user key, server key, topic">
	</div>
</div>
<div class="row">
	<div class="col-xs-12"><hr></div>
</div>

<div class="row" ng-switch on="polls.length">
	<ul ng-switch-when="0">
		<li><em>No polls in databases. Would you like to <a href="#/new">create one</a>?</li>

	</ul>
	<form id="filter">
		<span>By Topic:</span>
		<select id="question" ng-model="query">
			<option ng-repeat="poll in polls" value="{{poll.question}}">{{poll.question}}</option>
		</select>
		<span>By Server:</span>
		<select id="server" ng-model="query">
			<option ng-repeat="poll in polls" value="{{poll.server}}">{{poll.server}}</option>
		</select>
		<span>By User:</span>
		<select id="user" ng-model="query">
			<option ng-repeat="poll in polls" value="{{poll.user}}">{{poll.user}}</option>
		</select>

		<span>By Count:</span>
		<select id="count" ng-model="query">
			<option ng-repeat="poll in polls" value="{{poll.count}}">{{poll.count}}</option>
		</select>

	</form>

	<table class="table">
		<thead>
			<tr>
				<th>Topic Key</th>
				<th>Topic Title</th>
				<th>Server Key</th>
				<th>User Key</th>
				<th>Choice</th>
				<th>Sum of Votes</th>
				<th>Average Value of Votes</th>
				<th>Action</th>
			</tr>
		</thead>
		<tr ng-repeat="poll in polls | filter:query">
			<td>{{poll._id}}</td>
			<td><a href="#/cast/{{poll._id}}">{{poll.question}}</a></td>
			<td>{{poll.server}}</td>
			<td>{{poll.user}}</td>
			<td>
			    <span ng-hide="poll.type == 'input'" ng-repeat="choice in poll.choices">

					<strong>{{ choice.text }}</strong>: Vote Value: 
					<span ng-show="choice.votes.length !=0" ng-repeat="vote in choice.votes">  <span ng-show="vote.ip == poll.server">{{  vote.count }}</span>   
					</span><br />
				</span>
				<span ng-show="poll.type == 'input'" > <strong>{{ poll.voteText }}</strong>: Vote Value: {{ poll.choices[0].votes[0].count }}<br /></span>
			</td>
			<td>{{ poll.count }}</td>
			<td>{{ poll.count/counter | number:0 }}</td>
			<td ng-controller="deletePoll"><a href="/delete/{{poll._id}}">Delete</a></td>
		</tr>

	</table>
</div>
<p>&nbsp;</p>
