<div class="page-header">
	<h1>Login</h1>
    <p>{{message}}</p>
</div>
<div class="row">
</div>
<form ng-submit="login()" role="form" class="col-md-6 col-md-offset-3">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="username" class="form-control" ng-model='user.username' id="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" ng-model='user.password' placeholder="Password">
  </div>

  <button type="submit" name="login" class="btn btn-default">Login</button>
</form>

<p>&nbsp;</p>