<div class="page-header">
	<h1>Create New Poll</h1>
</div>

<form role="form" ng-submit="createPoll()" >
	<div class="form-group">
		<label for="pollQuestion">Question</label>
		<input type="text" ng-model="poll.question" class="form-control" id="pollQuestion" placeholder="Enter poll question">
	</div>
	
	<div class="form-group">
		<label>Choices Type</label><br />
		<input  type="radio" ng-checked="true" ng-model="poll.type" value="radio" ng-click="show_options('radio');"> Radio <br/>
		<input type="radio"  ng-model="poll.type" value="dropdown" ng-click="show_options('dropdown');"> Dropdown <br/>
		<input type="radio"  ng-model="poll.type" value="input" ng-click="show_options('input');"> Input <br/>
	</div>
	
	<div class="form-group optional">
		<label>Choices</label>
		<div ng-repeat="choice in poll.choices">
			<input type="text" ng-model="choice.text" class="form-control" placeholder="Enter choice {{$index+1}} text"><br>
		</div>
	</div>		
	
	<div class="row optional">
		<div class="col-xs-12">
			<button type="button" class="btn btn-default" ng-click="addChoice()"><span class="glyphicon glyphicon-plus"></span> Add another</button>
		</div>
	</div>
	
	<p><hr></p>
	
	<div class="row">
		<div class="col-xs-6">
			<a href="#/polls" class="btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Back to Poll List</a>
		</div>
		<div class="col-xs-6">
			<button class="btn btn-primary pull-right" type="submit">Create Poll &raquo;</button>
		</div>
	</div>
	
	<p>&nbsp;</p>
</form>