<div class="page-header">
	<h1>{{nPoll.question}}</h1>
</div>
<div class="row">
</div>
<div class="row" ng-switch on="nPoll.length">
	<ul ng-switch-when="0">
		<li><em>No polls in databases. Would you like to <a href="#/new">create one</a>?</li>

	</ul>
</div>
<table class="table outr-poll">
		<thead>
			<tr>
				<th>Topic Key</th>
				<th>Topic Title</th>
				<th>Server Key</th>
				<th>User Key</th>
				<th>Choice</th>
			</tr>
		</thead>
	<tr ng-repeat="(key, data) in nPoll.choices">
        <td ng-show="data.votes.length" colspan="7">
          <table class="inner-poll">
            <tr ng-repeat="vote in data.votes">
            	<td>{{nPoll._id}}</td>
            	<td><a href="javascript:void(0)">{{nPoll.question}}</a></td>
            	<td>{{vote.ip }}</td>
            	<td>{{vote.user_key }}</td>
            	<td>{{data.text}}</td>
            </tr>
          </table>
        </td>
    </tr>
<p>&nbsp;</p>
