﻿head
  title Image List
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
  body
    table(style='width: 50%; margin:0 auto' class='table')
      tr
        th Date
        th
          | Name
        th
          | Category
        th
          | Image
        each pro, i in imagelist
            tr
            td= pro.DATE
            td
              | #{pro.NAME}
            td
              | #{pro.Category}
            td
              img(src="../uploads/#{pro.IMAGENAME}" style='width: 100px;height:100px;')